urls:
- url: https://argo-workflow.dc-tech.work
  namespace: argo-workflows
  name: argo-workflows-server
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
    traefik.ingress.kubernetes.io/router.middlewares: kube-infra-generic-dashboard-auth@kubernetescrd
  labels:
    app: server
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: argo-workflows
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: argo-workflows-server
    app.kubernetes.io/part-of: argo-workflows
    helm.sh/chart: argo-workflows-0.45.27
  path: /
  backend:
    service: argo-workflows-server
    port: 2746
- url: https://goldilocks.dc-tech.work
  namespace: kube-infra
  name: goldilocks-dashboard
  type: ingress
  ingress_class: traefik-hub
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app.kubernetes.io/component: dashboard
    app.kubernetes.io/instance: goldilocks
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: goldilocks
    helm.sh/chart: goldilocks-10.1.0
  path: /
  backend:
    service: goldilocks-dashboard
    port: null
- url: https://pod-monitor.dc-tech.work
  namespace: kube-infra
  name: pod-monitor
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
    traefik.ingress.kubernetes.io/router.middlewares: kube-infra-generic-dashboard-auth@kubernetescrd
  labels:
    app.kubernetes.io/instance: pod-monitor
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: k8s-dashboard
    app.kubernetes.io/part-of: k8s-dashboard
    app.kubernetes.io/version: 2.0.0
    argocd.argoproj.io/instance: pod-monitor
    helm.sh/chart: k8s-dashboard-1.1.0
  path: /
  backend:
    service: pod-monitor-k8s-dashboard
    port: 80
- url: https://pyroscope.dc-tech.work
  namespace: kube-monitoring
  name: pyroscope-ingress
  type: ingress
  ingress_class: traefik
  annotations: {}
  labels: &id001
    app.kubernetes.io/instance: pyroscope
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: pyroscope
    app.kubernetes.io/version: 1.15.0
    helm.sh/chart: pyroscope-1.15.1
  path: /
  backend:
    service: pyroscope
    port: 4040
- url: https://pyroscope.dc-tech.work/ingest
  namespace: kube-monitoring
  name: pyroscope-ingress
  type: ingress
  ingress_class: traefik
  annotations: {}
  labels: *id001
  path: /ingest
  backend:
    service: pyroscope
    port: 4040
- url: https://grafana.dc-tech.work
  namespace: kube-monitoring
  name: vm-stack-grafana
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app.kubernetes.io/instance: vm-stack
    app.kubernetes.io/name: grafana
    app.kubernetes.io/version: 12.0.0-security-01
    helm.sh/chart: grafana-9.2.1
  path: /
  backend:
    service: vm-stack-grafana
    port: 80
- url: https://vmagent.dc-tech.work
  namespace: kube-monitoring
  name: vmagent-vm-k8s-stack
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: vmagent
    app.kubernetes.io/instance: vm-stack
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: victoria-metrics-k8s-stack
    app.kubernetes.io/version: v1.119.0
    helm.sh/chart: victoria-metrics-k8s-stack-0.51.0
  path: /
  backend:
    service: vmagent-vm-k8s-stack
    port: null
- url: https://hubble.dc-tech.work
  namespace: kube-system
  name: hubble-ui
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
    meta.helm.sh/release-name: cilium
    meta.helm.sh/release-namespace: kube-system
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: hubble-ui
    app.kubernetes.io/part-of: cilium
    k8s-app: hubble-ui
  path: /
  backend:
    service: hubble-ui
    port: null
- url: https://longhorn.dc-tech.work
  namespace: longhorn-system
  name: longhorn-ingress
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: longhorn-ingress
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/version: v1.8.2
    helm.sh/chart: longhorn-1.8.2
  path: /
  backend:
    service: longhorn-frontend
    port: 80
- url: https://mlflow.dc-tech.work
  namespace: mlops
  name: mlflow
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: mlflow
    app.kubernetes.io/instance: mlflow
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: mlflow
    app.kubernetes.io/version: 3.5.0
    argocd.argoproj.io/instance: mlflow
    helm.sh/chart: mlflow-1.7.2
    version: 3.5.0
  path: /
  backend:
    service: mlflow
    port: 80
- url: https://open-webui.dc-tech.work
  namespace: mlops
  name: open-webui
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app.kubernetes.io/component: open-webui
    app.kubernetes.io/instance: ollama-webui
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: open-webui
    app.kubernetes.io/version: 0.6.36
    helm.sh/chart: open-webui-8.14.0
  path: /
  backend:
    service: open-webui
    port: null
- url: https://promptfoo.dc-tech.work
  namespace: mlops
  name: promptfoo
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: promptfoo
  path: /
  backend:
    service: promptfoo
    port: 3000
- url: https://sonarqube.dc-tech.work
  namespace: sonarqube
  name: sonarqube-sonarqube
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: sonarqube
    chart: sonarqube-2025.5.0
    heritage: Helm
    release: sonarqube
  path: /
  backend:
    service: sonarqube-sonarqube
    port: 9000
- url: https://workload-scheduler.dc-tech.work
  namespace: workload-scheduler
  name: workload-scheduler
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: workload-scheduler
  path: /
  backend:
    service: workload-scheduler
    port: 8000
- url: https://backup-test.dc-tech.work
  namespace: default
  name: backup-test
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: backup-test-svc
    port: 80
- url: https://argocd.dc-tech.work
  namespace: kube-infra
  name: argocd-server
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: argo-argocd-server
    port: 80
- url: https://traefik.dc-tech.work/api
  namespace: kube-infra
  name: traefik-dashboard
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /api
  backend:
    service: api@internal
    port: 9000
- url: https://jaeger.dc-tech.work
  namespace: kube-monitoring
  name: jaeger
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: jaeger-query
    port: 16686
- url: https://dify.dc-tech.work
  namespace: mlops
  name: dify
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/name: dify
    app.kubernetes.io/part-of: dify
  path: /
  backend:
    service: dify-frontend
    port: 80
- url: https://litellm.dc-tech.work
  namespace: mlops
  name: litellm
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: litellm
    port: 4000
