urls:
- url: https://dc-finance.dc-tech.work/api
  namespace: dc-finance
  name: dc-finance
  type: ingress
  ingress_class: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: 'true'
  labels: &id001
    app.kubernetes.io/instance: dc-finance
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: dc-finance
    app.kubernetes.io/version: 1.2.0
    helm.sh/chart: dc-finance-1.1.0
  path: /api
  backend:
    service: dc-finance
    port: 80
- url: https://dc-finance.dc-tech.work
  namespace: dc-finance
  name: dc-finance
  type: ingress
  ingress_class: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: 'true'
  labels: *id001
  path: /
  backend:
    service: dc-finance-frontend
    port: 80
- url: https://helm-portal.dc-tech.work
  namespace: helm-portal
  name: helm-portal
  type: ingress
  ingress_class: traefik
  annotations: {}
  labels:
    app: helm-portal
  path: /
  backend:
    service: helm-portal
    port: 80
- url: https://invoices.dc-tech.work
  namespace: invoices-monitoring
  name: invoices-automation
  type: ingress
  ingress_class: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.tls: 'true'
  labels:
    app.kubernetes.io/instance: invoices-automation
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: invoices-automation
    app.kubernetes.io/version: 0.10.4
    helm.sh/chart: invoices-automation-0.10.3
  path: /
  backend:
    service: invoices-automation
    port: 9002
- url: https://unleash.dc-tech.work
  namespace: kube-infra
  name: unleash
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app.kubernetes.io/instance: unleash
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: unleash
    app.kubernetes.io/version: 7.2.2
    helm.sh/chart: unleash-5.6.3
  path: /
  backend:
    service: unleash
    port: 4242
- url: https://grafana.dc-tech.work
  namespace: kube-monitoring
  name: vm-stack-grafana
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app.kubernetes.io/instance: vm-stack
    app.kubernetes.io/name: grafana
    app.kubernetes.io/version: 12.3.0
    helm.sh/chart: grafana-10.1.5
  path: /
  backend:
    service: vm-stack-grafana
    port: 80
- url: https://vmagent.dc-tech.work
  namespace: kube-monitoring
  name: vmagent-vm-k8s-stack
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: vmagent
    app.kubernetes.io/instance: vm-stack
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: victoria-metrics-k8s-stack
    app.kubernetes.io/version: v1.131.0
    helm.sh/chart: victoria-metrics-k8s-stack-0.65.1
  path: /
  backend:
    service: vmagent-vm-k8s-stack
    port: null
- url: https://alertmanager.dc-tech.work
  namespace: kube-monitoring
  name: vmalertmanager-vm-k8s-stack
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: alertmanager
    app.kubernetes.io/instance: vm-stack
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: victoria-metrics-k8s-stack
    app.kubernetes.io/version: v1.131.0
    helm.sh/chart: victoria-metrics-k8s-stack-0.65.1
  path: /
  backend:
    service: vmalertmanager-vm-k8s-stack
    port: null
- url: https://hubble.dc-tech.work
  namespace: kube-system
  name: hubble-ui
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
    meta.helm.sh/release-name: cilium
    meta.helm.sh/release-namespace: kube-system
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: hubble-ui
    app.kubernetes.io/part-of: cilium
    k8s-app: hubble-ui
  path: /
  backend:
    service: hubble-ui
    port: null
- url: https://longhorn.dc-tech.work
  namespace: longhorn-system
  name: longhorn-ingress
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: longhorn-ingress
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/version: v1.9.2
    helm.sh/chart: longhorn-1.9.2
  path: /
  backend:
    service: longhorn-frontend
    port: 80
- url: https://sonarqube.dc-tech.work
  namespace: sonarqube
  name: sonarqube-sonarqube
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: sonarqube
    chart: sonarqube-2025.5.0
    heritage: Helm
    release: sonarqube
  path: /
  backend:
    service: sonarqube-sonarqube
    port: 9000
- url: https://workload-scheduler.dc-tech.work
  namespace: workload-scheduler
  name: workload-scheduler
  type: ingress
  ingress_class: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare
  labels:
    app: workload-scheduler
    argocd.argoproj.io/instance: in-cluster-workload-scheduler
  path: /
  backend:
    service: workload-scheduler
    port: 8000
- url: https://atuin.dc-tech.work
  namespace: atuin
  name: atuin-server
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: atuin
    port: 8888
- url: https://backup-manager.dc-tech.work
  namespace: backup
  name: backup-manager
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations:
    argocd.argoproj.io/sync-wave: '4'
  labels:
    app.kubernetes.io/instance: backup-manager
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: backup-manager
    app.kubernetes.io/part-of: backup-manager
    app.kubernetes.io/version: 2.2.0
    env: prod
    helm.sh/chart: backup-manager-1.2.0
  path: /
  backend:
    service: backup-manager
    port: 80
- url: https://backup-test.dc-tech.work
  namespace: backup
  name: backup-test
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: backup-test-svc
    port: 80
- url: https://bichon.dc-tech.work
  namespace: bichon
  name: bichon
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/instance: bichon
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: bichon
    app.kubernetes.io/version: latest
    helm.sh/chart: bichon-1.0.0
  path: /
  backend:
    service: bichon
    port: 15630
- url: https://convertx.dc-tech.work
  namespace: convertx
  name: convertx
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/instance: convertx
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: convertx
    app.kubernetes.io/version: latest
    helm.sh/chart: convertx-1.0.0
  path: /
  backend:
    service: convertx
    port: 3000
- url: https://finance.dc-tech.work
  namespace: finance-monitoring
  name: finance-monitoring-api
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/component: api
    app.kubernetes.io/instance: finance-monitoring
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: finance-monitoring
    app.kubernetes.io/version: 2.2.2
    helm.sh/chart: finance-monitoring-2.2.2
  path: /
  backend:
    service: finance-monitoring-api
    port: 5001
- url: https://git.dc-tech.work
  namespace: forgejo
  name: forgejo
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: forgejo-http
    port: 3000
- url: https://argocd.dc-tech.work
  namespace: kube-infra
  name: argocd-server
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: argocd-server
    port: 80
- url: https://traefik.dc-tech.work/api
  namespace: kube-infra
  name: traefik-dashboard
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /api
  backend:
    service: api@internal
    port: 9000
- url: https://jaeger.dc-tech.work
  namespace: kube-monitoring
  name: jaeger
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: jaeger-query
    port: 16686
- url: https://poznote.dc-tech.work
  namespace: poznote
  name: poznote
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/instance: poznote
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: poznote
    app.kubernetes.io/version: latest
    helm.sh/chart: poznote-1.0.0
  path: /
  backend:
    service: poznote
    port: 8040
- url: https://poznote-magali.dc-tech.work
  namespace: poznote-magali
  name: poznote-magali
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/instance: poznote-magali
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: poznote
    app.kubernetes.io/version: latest
    helm.sh/chart: poznote-1.0.0
  path: /
  backend:
    service: poznote-magali
    port: 8040
- url: https://demo-pr-116.dc-tech.work
  namespace: preview-116
  name: preview-116
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/part-of: preview-environments
    preview.argocd.io/pr-number: '116'
  path: /
  backend:
    service: preview-116-my-test
    port: 80
- url: https://fm-pr-70.dc-tech.work
  namespace: preview-fm-70
  name: preview-70
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/part-of: preview-environments
    preview.argocd.io/pr-number: '70'
  path: /
  backend:
    service: preview-fm-70-finance-monitoring-api
    port: 5001
- url: https://vaultwarden.dc-tech.work
  namespace: security
  name: vaultwarden
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels: {}
  path: /
  backend:
    service: vaultwarden
    port: 80
- url: https://solar.dc-tech.work
  namespace: solar-monitoring
  name: solar-monitoring-api
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/component: api
    app.kubernetes.io/instance: solar-monitoring
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: solar-monitoring
    app.kubernetes.io/version: 0.3.1
    helm.sh/chart: solar-monitoring-0.3.1
  path: /
  backend:
    service: solar-monitoring-api
    port: 9000
- url: https://convertx.dc-tech.work
  namespace: testing-apps
  name: convertx
  type: httproute
  ingress_class: gateway/traefik-gateway-global
  annotations: {}
  labels:
    app.kubernetes.io/instance: convertx
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: convertx
    app.kubernetes.io/version: latest
    argocd.argoproj.io/instance: convertx
    helm.sh/chart: convertx-1.0.0
  path: /
  backend:
    service: convertx
    port: 3000
